/* Pagination
-------------------------------------------------------------- */
.navigation {
	width: 100%;
	margin: 30px 0 0 0;
	@media screen and (min-width: $tabwidth){
		margin: 20% 0 0 0;
	}

	& ul {
		margin: 0;
		padding: 0;
	}

	& li {
		margin: 0;
		display: inline-block;
		list-style: none;
		line-height: 1.1;
	}
	& a {
		display: block;
		font-family: $font__serif;
		font-size: 20px;
	}
}
.navigation li a,
.navigation li.disabled {
	line-height: 1.1;
	color: $color__waters-green;
	text-decoration:none;
	border: 1px solid $color__waters-green;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	text-decoration:none;
	background-color: transparent;
	cursor: pointer;
	padding: 5px 10px;
	@include transition(.3s ease all);
}
 
.navigation li a:hover,
.navigation li.active a {
	background-color: $color__waters-green;
	color: white;
}