.template-index {
    >.row-1 {
        position: relative;
        background-color: $color__waters-grey;
        >.wrapper.cap {
            text-align: center;
            padding: 20px 0 70px 0;
            @media screen and (min-width: $tabwidth){
                padding: 3% 0 8% 0;
            }
            >header {
                margin: 0 0 30px 0;
                @media screen and (min-width: $tabwidth){
                    width: 50%;
                    margin: 0 auto 30px auto;
                }
                h2 {
                    margin: 0;
                    color: $color__waters-blue;
                    font-size: 25px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 45px;
                    }
                }
            }
            .copy {
                font-size: 18px;
                text-align: left;
                @media screen and (min-width: $tabwidth){
                    width: 50%;
                    font-size: 20px;
                    margin: 0 auto 0 auto;
                }
            }
        }
        a.button {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $color__waters-green;
            color: white;
            border: 1px solid $color__waters-green;
            @include translatexy(-50%, 50%);
            padding: 10px 40px;
            border-radius: 900px;
            text-align: center;
            font-size: 18px;
            @media screen and (min-width: $tabwidth){
                font-size: 20px;
            }
            &:hover {
                color: $color__waters-green;
                background-color: transparent;
            }
        }
    }
    >.row-2 {
        >.wrapper.cap {
            padding: 70px 0 50px 0;
            @media screen and (min-width: $tabwidth){
                padding: 10% 0;
                @include flexbox();
                @include flexbox-justify(space-between);
                @include flexbox-align-content(stretch);
                @include flexbox-align-items(stretch);
            }
            >.col {
                text-align: center;
                margin: 30px 0 0 0;
                @media screen and (min-width: $tabwidth){
                    width: 1/3*90%;
                    margin: 0;
                    @include flexbox();
                    @include flexbox-justify(flex-start);
                    @include flexbox-align-content(center);
                    @include flexbox-align-items(center);
                    @include flexbox-direction(column);
                }
                &:first-child {
                    margin-top: 0;
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                >header {
                    width: 100%;
                    margin: 0 0 20px 0;
                    &:after {
                        content: "";
                        display: block;
                        border-bottom: 2px solid $color__waters-blue;
                        width: 80px;
                        margin: 0 auto;
                    }
                    h2 {
                        margin: 0;
                        text-transform: uppercase;
                        color: $color__waters-blue;
                        font-size: 20px;
                        padding: 0 0 5px 0;
                        @media screen and (min-width: $tabwidth){
                            font-size: 23px;
                        }
                    }
                }
                .copy {
                    width: 100%;
                    margin: 0 0 20px 0;
                    @media screen and (min-width: $tabwidth){
                        margin: 0 0 40px 0;
                    }
                }
                a.button {
                    display: inline-block;
                    margin: auto 0 0 0;
                    text-decoration: none;
                    color: $color__waters-green;
                    border: 1px solid $color__waters-green;
                    border-radius: 900px;
                    text-transform: uppercase;
                    padding: 10px 40px;
                    text-align: center;
                    font-size: 18px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 20px;
                    }
                    &:hover {
                        color: white;
                        background-color: $color__waters-green;
                    }
                }
            }
        }
    }
    >.row-3 {
        background-color: $color__waters-grey;
        >.wrapper.cap {
            padding: 20px 0 40px 0;
            text-align: center;
            @media screen and (min-width: $tabwidth){
                padding: 2% 0 7% 0;
            }
            >header {
                margin: 0 0 40px 0;
                @media screen and (min-width: $tabwidth){
                    margin: 0 0 7% 0;
                }
                h2 {
                    margin: 0;
                    font-size: 25px;
                    text-transform: uppercase;
                    color: $color__waters-blue;
                    @media screen and (min-width: $tabwidth){
                        font-size: 35px;
                    }
                }
            }
            .post {
                >header {
                    margin: 0 0 20px 0;
                    @media screen and (min-width: $tabwidth){
                        width: 50%;
                        margin: 0 auto 30px auto;
                    }
                    h3 {
                        margin: 0;
                        color: $color__waters-blue;
                        font-size: 20px;
                        @media screen and (min-width: $tabwidth){
                            font-size: 23px;
                        }
                    }
                }
                .copy {
                    margin: 0 0 20px 0;
                    @media screen and (min-width: $tabwidth){
                        width: 50%;
                        margin: 0 auto 40px auto;
                    }
                }
                a.button {
                    display: inline-block;
                    text-decoration: none;
                    color: $color__waters-green;
                    border: 1px solid $color__waters-green;
                    border-radius: 900px;
                    text-transform: uppercase;
                    padding: 10px 40px;
                    text-align: center;
                    font-size: 18px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 20px;
                    }
                    &:hover {
                        color: white;
                        background-color: $color__waters-green;
                    }
                }
            }
        }
    }
}
.template-staff, .template-news, .template-page, .template-sitemap, .error-404,
.template-single-news, .template-contact, .template-listings, .template-history,
.template-brokerage, .template-acquisitions {
    padding: 40px 0;
    @media screen and (min-width: $tabwidth){
        padding: 3.5% 0;
      }
    >header.row-1 {
        >.wrapper.cap {
            margin: 0 auto 20px auto;
            @media screen and (min-width: $tabwidth){
                margin: 0 auto 2% auto;   
            }
            >.wrapper {
                @media screen and (min-width: $tabwidth){
                    width: 92%; 
                    margin: 0 auto;
                }
                h1 {
                    margin: 0;
                    color: $color__waters-blue;
                    font-size: 25px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 45px;
                    }
                }
            }
        }
    }
    >.row-2 {
        >.wrapper.cap {
            >.wrapper {
                @media screen and (min-width: $tabwidth){
                    width: 92%; 
                    margin: 0 auto;
                }
            }
        }
    }
}
.template-page, .template-sitemap, .error-404, .template-single-news, .template-history, .template-brokerage, .template-acquisitions {
    >.row-2 {
        >.wrapper.cap {
            >.wrapper {
                >.col-1 {
                    min-height: 1px;
                    @media screen and (min-width: $tabwidth){
                        width: 70%;
                        float: left;
                        padding: 0 8% 0 0;
                    }
                }
                >aside.col-2.sidebar {
                    min-height: 1px;
                    margin: 20px 0 0 0;
                    @media screen and (min-width: $tabwidth){
                        width: 30%;
                        margin: 0;
                        float: left;
                    }
                }
            }
        }
    }
}
.template-brokerage, .template-acquisitions {
    >.row-2 {
        >.wrapper.cap {
            margin: 0 auto 30px auto;
            @media screen and (min-width: $tabwidth){
                margin: 0 auto 2% auto;
            }
        }
    }
    >.row-3 {
        >.wrapper.cap {
            >.wrapper {
                @media screen and (min-width: $tabwidth){
                    width: 92%; 
                    margin: 0 auto;
                }
                >header {
                    margin: 30px 0 5px 0;
                    @media screen and (min-width: $tabwidth){
                        margin: 2% 0 20px 0;
                    }
                    &:first-child {
                        margin: 0 0 5px 0;
                        @media screen and (min-width: $tabwidth){
                            margin: 0 0 20px 0;
                        }
                    }
                    h2 {
                        margin: 0;
                        text-transform: uppercase;
                        color: $color__waters-blue;
                        font-size: 20px;
                        padding: 0 0 5px 0;
                        @media screen and (min-width: $tabwidth){
                            font-size: 23px;
                        }
                    }
                }
                .projects {
                    .project {
                        margin: 0 0 20px 0;
                        @media screen and (min-width: $tabwidth){
                            float: left;
                            width: calc(50% - 10px);
                            margin: 0 10px 20px 10px;
                        }
                        @media screen and (min-width: $deskwidth){
                            float: left;
                            width: 1/4*92%;
                            margin: 0 1% 2% 1%;
                        }
                        &:nth-child(even){
                            @media screen and (min-width: $tabwidth){
                                margin-right: 0;
                            }
                            @media screen and (min-width: $deskwidth){
                                margin-right: 1%;
                            }
                        }
                        &:nth-child(odd){
                            @media screen and (min-width: $tabwidth){
                                margin-left: 0;
                            }
                            @media screen and (min-width: $deskwidth){
                                margin-left: 1%;
                            }
                        }
                        &.first {
                            @media screen and (min-width: $deskwidth){
                                margin-left: 0;
                            }
                        }
                        &.last {
                            @media screen and (min-width: $deskwidth){
                                margin-right: 0;
                            }
                        }
                        a {
                            display: block;
                            text-decoration: none;
                            color: inherit;
                            img {
                                display: block;
                                width: 100%;
                            }
                            header {
                                padding: 10px;
                                text-align: center;
                                background-color: $color__waters-green;
                                color: white;
                                h3 {
                                    margin: 0;
                                    color: white;
                                    font-size: 18px;
                                }
                                .location {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .colorbox-popup {
                        display: none;
                    }
                }
            }
        }
    }
}
.template-listings {
    >.row-2 {
        >.wrapper.cap {
            >.wrapper {
                >.header {
                    padding: 10px;
                    background-color: lightgrey;
                    border-bottom: 1px solid $color__text-main;
                    &.blue {
                        color: white;
                        border-bottom: none;
                        background-color: $color__waters-blue;
                    }
                    >.col-1 {
                        @media screen and (min-width: $tabwidth){
                            width: 50%;
                            margin: 0;
                            float: left;
                        }
                    } 
                    >.col-2 {
                        margin: 10px 0 0 0;
                        display: none;
                        @media screen and (min-width: $tabwidth){
                            width: 50%;
                            display: block;
                            margin: 0;
                            float: left;
                        }
                    } 
                }
                >.listings {
                    >.row {
                        border-bottom: 1px solid $color__text-main;
                        padding: 10px;
                        &:last-child {
                            border-bottom: none;
                        }
                        >.col-1 {
                            @media screen and (min-width: $tabwidth){
                                width: 50%;
                                margin: 0;
                                float: left;
                                padding: 0 5px 0 0;
                            }
                        } 
                        >.col-2 {
                            margin: 10px 0 0 0;
                            @media screen and (min-width: $tabwidth){
                                width: 50%;
                                margin: 0;
                                float: left;
                                padding: 0 0 0 5px;
                            }
                            img {
                                width: 100%;
                                display: block;
                                @media screen and (min-width: $tabwidth){
                                    width: 50%;
                                    margin: 0 0 0 20px;
                                    float: right;
                                }
                            }
                        } 
                    }
                }
            }
        }
    }
}
.template-contact {
    >.row-2 {
        >.wrapper.cap {
            >.wrapper {
                >.col-1 {
                    min-height: 1px;
                    @media screen and (min-width: $tabwidth){
                        width: 60%;
                        float: left;
                        padding: 0 8% 0 0;
                    }
                }
                >aside.col-2.sidebar {
                    min-height: 1px;
                    margin: 20px 0 0 0;
                    @media screen and (min-width: $tabwidth){
                        width: 40%;
                        margin: 0;
                        float: left;
                    }
                }
            }
        }
    }
}
.template-news {
    >.row-2 {
        >.wrapper.cap {
            margin: 0 auto 30px auto;
            @media screen and (min-width: $tabwidth){
                margin: 0 auto 2% auto;
            }
        }
    }
    >.row-3 {
        >.wrapper.cap {
            >.wrapper {
                @media screen and (min-width: $tabwidth){
                    width: 92%;
                    margin: 0 auto;
                }
                >.col-1 {
                    min-height: 1px;
                    @media screen and (min-width: $tabwidth){
                        width: 70%;
                        float: left;
                        padding: 0 8% 0 0;
                    }
                    >.news {
                        >.post {
                            box-shadow: 0px 0px 10px grey;
                            padding: 20px;
                            margin: 0 0 20px 0;
                            @media screen and (min-width: $tabwidth){
                                margin: 0 0 12% 0;
                            }
                            &:last-child {
                                margin: 0;
                            }
                            header {
                                h2 {
                                    margin: 0;
                                    text-transform: uppercase;
                                    color: $color__waters-blue;
                                    font-size: 20px;
                                    padding: 0 0 5px 0;
                                    @media screen and (min-width: $tabwidth){
                                        font-size: 23px;
                                    }
                                }
                            }
                            .copy {
                                font-size: 18px;
                                font-family: $font__serif;
                                @media screen and (min-width: $tabwidth){
                                    font-size: 20px;
                                }

                            }
                            >.wrapper {
                                text-align: right;
                                margin: 20px 0 0 0;
                                @media screen and (min-width: $tabwidth){
                                    margin: 40px 0 0 0;
                                }
                                a.button {
                                    margin: auto 0 0 0;
                                    display: inline-block;
                                    text-decoration: none;
                                    color: $color__waters-green;
                                    border: 1px solid $color__waters-green;
                                    border-radius: 900px;
                                    text-transform: uppercase;
                                    padding: 10px 40px;
                                    text-align: center;
                                    font-size: 18px;
                                    @media screen and (min-width: $tabwidth){
                                        font-size: 20px;
                                    }
                                    &:hover {
                                        color: white;
                                        background-color: $color__waters-green;
                                    }
                                }
                            }
                        }
                    }
                }
                >aside.col-2.sidebar {
                    min-height: 1px;
                    margin: 20px 0 0 0;
                    @media screen and (min-width: $tabwidth){
                        width: 30%;
                        margin: 0;
                        float: left;
                    }
                }
            }
        }
    }
}
.template-staff {
    >.row-2 {
        >.wrapper.cap {
            margin: 0 auto 30px auto;
            @media screen and (min-width: $tabwidth){
                margin: 0 auto 2% auto;
            }
        }
    }
    >.staff.row-3 {
        >.wrapper.cap {
            >.wrapper {
                @media screen and (min-width: $tabwidth){
                    width: 92%;
                    margin: 0 auto;
                }
                >.member {
                    text-align: center;
                    box-shadow: 0px 0px 10px grey;
                    margin: 0 0 20px 0;
                    padding: 20px 40px 30px 40px;
                    @media screen and (min-width: $tabwidth){
                        width: 1/2*95%;
                        margin: 0 2.5% 5% 2.5%;
                        float: left;
                        @include flexbox();
                        @include flexbox-justify(flex-start);
                        @include flexbox-align-content(center);
                        @include flexbox-align-items(center);
                        @include flexbox-direction(column);
                    }
                    @media screen and (min-width: $midwidth){
                        width: 1/3*90%;
                    }
                    &:nth-child(odd){
                        @media screen and (min-width: $tabwidth){
                            margin-left: 0;
                        }
                        @media screen and (min-width: $midwidth){
                            margin-left: 2.5%;
                        }
                    }
                    &:nth-child(even){
                        @media screen and (min-width: $tabwidth){
                            margin-right: 0;
                        }
                        @media screen and (min-width: $midwidth){
                            margin-right: 2.5%;
                        }
                    }
                    &.first {
                        @media screen and (min-width: $midwidth){
                            margin-left: 0;
                        }
                    }
                    &.last {
                        @media screen and (min-width: $midwidth){
                            margin-right: 0;
                        }
                    }
                    img {
                        width: 100%;
                        display: block;
                        margin: 0 0 15px 0;
                    }
                    header {
                        width: 100%;
                        text-align: center;
                        border-top: 1px solid $color__waters-green;
                        border-bottom: 1px solid $color__waters-green;
                        padding: 5px 0 10px 0;
                        h2 {
                            color: $color__waters-blue;
                            margin: 0;
                            font-size: 20px;
                            @media screen and (min-width: $tabwidth){
                                font-size: 23px;
                            }
                        }
                        h3 {
                            margin: 0;
                            font-size: 12px;
                        }
                    }
                    .contact {
                        width: 100%;
                        text-align: center;
                        margin: 15px 0 25px 0;
                        a {
                            color: black;
                            text-decoration: none;
                            margin: 0 5px;
                            font-size: 20px;
                        }
                    }
                    a.button {
                        margin: auto 0 0 0;
                        display: inline-block;
                        text-decoration: none;
                        color: $color__waters-green;
                        border: 1px solid $color__waters-green;
                        border-radius: 900px;
                        text-transform: uppercase;
                        padding: 10px 40px;
                        text-align: center;
                        font-size: 18px;
                        @media screen and (min-width: $tabwidth){
                            font-size: 20px;
                        }
                        &:hover {
                            color: white;
                            background-color: $color__waters-green;
                        }
                    }
                }
            }
        }
    }
}
.template-staff-single {
    >.wrapper.cap {
        padding: 40px 0;
        @media screen and (min-width: $tabwidth){
            padding: 3.5% 0;
        }
        >.wrapper {
            @media screen and (min-width: $tabwidth){
                width: 92%;
                margin: 0 auto;
            }
            >.row-2 {
                >.col-1 {
                    @media screen and (min-width: $tabwidth){
                        margin: 0;
                        float: left;
                        width: 30%;
                    }
                    >.member {
                        text-align: center;
                        box-shadow: 0px 0px 10px grey;
                        padding: 20px 40px 30px 40px;
                        @media screen and (min-width: $tabwidth){
                            @include flexbox();
                            @include flexbox-justify(flex-start);
                            @include flexbox-align-content(center);
                            @include flexbox-align-items(center);
                            @include flexbox-direction(column);
                        }
                        img {
                            width: 100%;
                            display: block;
                            margin: 0 0 15px 0;
                        }
                        header {
                            width: 100%;
                            text-align: center;
                            border-top: 1px solid $color__waters-green;
                            border-bottom: 1px solid $color__waters-green;
                            padding: 5px 0 10px 0;
                            h2 {
                                color: $color__waters-blue;
                                margin: 0;
                                font-size: 20px;
                                @media screen and (min-width: $tabwidth){
                                    font-size: 23px;
                                }
                            }
                            h3 {
                                margin: 0;
                                font-size: 12px;
                            }
                        }
                        .contact {
                            width: 100%;
                            text-align: center;
                            margin: 15px 0 25px 0;
                            a {
                                color: black;
                                text-decoration: none;
                                margin: 0 5px;
                                font-size: 20px;
                            }
                        }
                    }
                }
                >.col-2 {
                    margin: 20px 0 0 0;
                    @media screen and (min-width: $tabwidth){
                        margin: 0;
                        float: left;
                        width: 70%;
                        padding: 0 0 0 8%;
                    }
                    header {
                        h1 {
                            margin: 0;
                            color: $color__waters-blue;
                            font-size: 25px;
                            @media screen and (min-width: $tabwidth){
                                font-size: 45px;
                            }
                        }
                    }
                    .copy {
                        margin: 20px 0 0 0;

                    }
                }
            }
        }
    }
}